LeagueManager/LeagueManager.WPF/Service References/LMService/LMService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LeagueManager.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LeagueManager.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SetupContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Jungle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Top" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetupContract" nillable="true" type="tns:SetupContract" />
  <xs:complexType name="GameContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerOne" nillable="true" type="tns:SetupContract" />
      <xs:element minOccurs="0" name="PlayerTwo" nillable="true" type="tns:SetupContract" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Winner" nillable="true" type="tns:SetupContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameContract" nillable="true" type="tns:GameContract" />
</xs:schema>