LeagueManager.GH/LeagueManager.WPF/Service References/LMService/LMService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50318/LMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LeagueManager.Service" />
  <xs:element name="SendSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LeagueManager.Service" minOccurs="0" name="setup" nillable="true" type="q1:SetupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSetupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LeagueManager.Service" minOccurs="0" name="GetGameResultResult" nillable="true" type="q2:GameContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>