LeagueManager.GH/LeagueManager.WPF/Service References/LMService/LMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50318/LMService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50318/LMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50318/LMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LeagueManager.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILMService_SendSetup_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSetup" />
  </wsdl:message>
  <wsdl:message name="ILMService_SendSetup_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSetupResponse" />
  </wsdl:message>
  <wsdl:message name="ILMService_GetGameResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameResult" />
  </wsdl:message>
  <wsdl:message name="ILMService_GetGameResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameResultResponse" />
  </wsdl:message>
  <wsdl:portType name="ILMService">
    <wsdl:operation name="SendSetup">
      <wsdl:input wsaw:Action="http://tempuri.org/ILMService/SendSetup" message="tns:ILMService_SendSetup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILMService/SendSetupResponse" message="tns:ILMService_SendSetup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ILMService/GetGameResult" message="tns:ILMService_GetGameResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILMService/GetGameResultResponse" message="tns:ILMService_GetGameResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILMService" type="tns:ILMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSetup">
      <soap:operation soapAction="http://tempuri.org/ILMService/SendSetup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameResult">
      <soap:operation soapAction="http://tempuri.org/ILMService/GetGameResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LMService">
    <wsdl:port name="BasicHttpBinding_ILMService" binding="tns:BasicHttpBinding_ILMService">
      <soap:address location="http://localhost:50318/LMService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>